
*{
    background-color: #0b0e07;
}

/* Style page content */
.main {
   margin-left: 22%;
   padding: 0px 10px;
   background-color: #0b0e07;
   margin-top: 10px;
   /* padding: 10%; */
}
.heading a {
  font-size: 70px;
  background-color: #e9c855;;
  color: white;
  z-index: 1;
  top: 0; 
  margin-top: 30px;
}
.heading{
    /* position:absolute; */
    text-align: center;
    background-color: #e9c855;
    width: 99%;
    border-radius: 8px;
    box-shadow:0px 0px 50px 30px #b49b41;

}

.heading h1{
    background-color: #d175b7;
    color: white;
}
/* -------------------------Timer-------------------------- */

#countdownminutes{
    color: black;
}

#countdownseconds{
    color: black;
}
.time p{
    margin-top: 8%;
    background-color: white;
    width: 16%;
    color: black;
    margin-left: 40%;
}
.audio{
    width: 300px;
    margin: auto;
    background-color: transparent;

}
.game{
    width: 80%;
    height: 800px;
    margin: auto;
    background-color: #1c2c54;
    opacity: 0.9;
    /* padding-left: 45px; */
    color: white;
    /* padding-top: 30px; */
}
.timer{
    width:800px;
    /* height: 300px; */
    margin: auto;
    text-align: center;
    opacity: 0.9;
    color: #e9c855;
    border-radius: 3cm;
    font-size: 30;
}
.timer span{
     background-color: white;
     color: #e9c855;
    font-size: 30;
}
.timer p{
    font-size: 20;
}
/* -------------------------Panther central-------------------------- */
.anagram{
    opacity: 0.8;
}

div p{
	font-size: 50px;
	text-align: center;
	color: #ff95e1;
    background-color: #1c2c54;
}
div h4{
	font-size: 30px; 
	text-align: center;
	color: rgb(255, 255, 255);
    background-color: #1c2c54;
}

.game h1{
    font-size: 30px; 
	text-align: center;
	color: rgb(255, 255, 255);
    background-color: #1c2c54;
}

.game h2{
    text-align: center;
    color:#5ee6d6;
    background-color: #1c2c54;
}
form{
    background-color: #1c2c54;
	width: 300px;
	margin: auto;
    padding-bottom: 30px;
}
input{
	width: 100%;
	height: 40px;
    background-color: #ffffff;
}

.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:9px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	padding:14px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    margin-left: 38%;
    /* padding-top: 90px; */
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* -------------------------Hillman-------------------------- */

    .headhillman{
		width: 80%;
        text-align: center;
        margin-left: 10%;
        color: white;
        background-color: transparent;
	}
    .headhillman h4{
        color: white;
        background-color: #1c2c54;
        width: 60%;
        border-radius: 8px;
        margin: auto;
        font-size:large;
        margin-top: 2%;        
    }
    
    .map{
        align-content: center;
        padding-bottom: 40px;
        margin: auto;
        padding-top: 30px;
    }
    
    .pic{
        width: 5%;
        position: relative;
        animation-name: map;
        animation-duration: 3s;  
        animation-fill-mode: both;
        z-index: 100;
        display: block;
    }

    @keyframes map {
        from{width: 5%;}
        to{width: 45%;}
        from {top: 300px; left: 0%;}
        to {top: 0px; left: 25%;}
        from{opacity: 0;}
        to{opacity: 8;}
    }

    .hillman1 {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 10%;
        /* padding-left: 30px;  */
	}

	.startButton{
		border: box-shadow;
		border-color: black;
		text-align: center;
		display: inline-block;
		font-size: 16px;
		margin: 12px 6px;
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.button {
		color: gold;
		background-color: blue;
		cursor: pointer;
		text-decoration: underline;
		padding: 10px 32px;
		font-size: 16px;
		border-radius: 8px;
		margin: 0;
		position: absolute;
		right: 42%;
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.button:hover{
		color: blue;
		background-color: gold;
	}
/* -------------------------Sennott Square-------------------------- */

body {
    font-family: 'Times New Roman', Times, serif;
    /* background-image: linear-gradient(#020024, #090979, #00d4ff);; */
}

#game_title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #FFFF00;
}
#sennott_square {
    display: flex;
    justify-content: center;
}
#story {
   /* display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column; */
   font-size: 30;
   color: #FFFF00;
   width: 80%;
    height: 800px;
    margin: auto;
    background-color: #1c2c54;
    opacity: 0.9;
}
#story p{
    font-size: 40;
}

#picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button {
    background-color: #f2c746;
    border: none;
    color: navy;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;
}
button:hover{
    background-color: black;
    color: #f2c746;
}
        
