body {
    font-family: 'Times New Roman', Times, serif
}

#game_title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#litchfield_towers {
    display: flex;
    justify-content: center;
}
#story {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
}

#story .start_button {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50px;
    width: 170px;
    padding: 45px;
    font-size: 14px;
    
}

