<html>
    <head>
        {# 
        
            This is a comment - it won't show up in the HTML.

            Templates allow us to dynamically generate HTML - this file will be 
            interpreted and the output will be sent to the browser.  View the page 
            source in your browser to see what actually comes through.
            
            The line below inserts the "page_title" variable into the HTML output.
            
        #}
        <link rel="stylesheet" href="static/css/style.css">
        <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">-->
        <link rel="shortcut icon" href="static/icons/key-icon.ico">
        
        <title>{{page_title}}</title>

    </head>
    <body>
        {#

            A "block" can be replaced when we render this template.

        #}
        {% block content %}{% endblock %}
    </body>
</html>