{% extends '_base.html' %}
{% block content %}
<div class="main">
    <div class="heading">
        Welcome to the Hillman Library
    </div>

	<div class="headhillman">
        <br>
		Great work on escaping from the Panther Central!<br>
        You are here at the Hillman Library because somewhere hidden in this building,<br> 
        is a map that can guide you to all the buildings on Pitt's campus.<br> 

        The puzzle is to find a few hidden items in the pictures presented!
        <br>
        <h4>Puzzle 1: Green Pants</h4>
        <br>
		<!-- We know that you put an extreme amount of effort while escaping the Panther Central. Also, Hillman Library is very big and it has many rooms and study spaces across five floors. So as a reward to your last task, instead of you finding the room where the map is hidden, we will take you to that room directly to save your time and get you to your class as soon as possible. Right when you hit the "Start" button below this description, you will find yourself in that room. From that point on, you will be by yourself.<br><br>
		Do you think you have what it takes to complete this task?<br> -->
	</div>

  <div class="map">
      <img src="../images/hillman1.jpg" usemap="#image-map" class="hillman1">
      <map name="image-map">
          <area target="" alt="" title="" href="./hillman2.html" coords="640,162,669,190" shape="rect">
      </map>
  </div>
</div>
{% endblock %}
