{% extends '_base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/style.css"> 
    <script type="text/javascript" src="/static/js/panther-central.js"></script>
</head>
<div class="main">
    <div class="heading">
        Welcome to the Hillman Library
    </div>
    <div class="timer">
        <p><span id="countdownminutes">-</span>:<span id="countdownseconds">-</span></p>

        <script type="text/javascript">
            var timeleft = parseInt(localStorage.getItem("timerLeft"));
            var minutes = parseInt(timeleft/60);
            var seconds = timeleft % 60;
            if (minutes < 10) 
            {
                minutes = "0" + minutes;
            }
            if (seconds < 10) 
            {
                seconds = "0" + seconds;
            }
            document.getElementById("countdownminutes").textContent = minutes;
            document.getElementById("countdownseconds").textContent = seconds;
            var downloadTimer = setInterval(function(){
            if(localStorage.getItem("keepRunning") == "true") { timeleft--; }
            localStorage.setItem("timerLeft", String(timeleft));
            var minutes = parseInt(timeleft/60);
            var seconds = timeleft % 60;
            if (minutes < 10) 
            {
                minutes = "0" + minutes;
            }
            if (seconds < 10) 
            {
                seconds = "0" + seconds;
            }
            document.getElementById("countdownminutes").textContent = minutes;
            document.getElementById("countdownseconds").textContent = seconds;
            if(timeleft <= 0)
            {
                clearInterval(downloadTimer);
                alert("You have run out of time!");
                window.location = "./home.html"; 
            }
            },1000);
        </script>
    </div>
	<div class="headhillman">
        <br>
        The puzzle is to find a few hidden items in the pictures presented!
        <br>
        <h4>Puzzle 3: Red Water Bottle</h4>
        <br>
		<!-- We know that you put an extreme amount of effort while escaping the Panther Central. Also, Hillman Library is very big and it has many rooms and study spaces across five floors. So as a reward to your last task, instead of you finding the room where the map is hidden, we will take you to that room directly to save your time and get you to your class as soon as possible. Right when you hit the "Start" button below this description, you will find yourself in that room. From that point on, you will be by yourself.<br><br>
		Do you think you have what it takes to complete this task?<br> -->
	</div>
    <div class="map">
        <img src="../static/images/HillmanPics/3.JPG" usemap="#image-map" class="hillman1">
        <map name="image-map">
               <area target="" alt="" title="" href="./map3.html" coords="177,421,168,405" shape="rect">
        </map>
    </div>
</div>
{% endblock %}
