{% extends '_base.html' %}
{% block content %}
<div class="main">
    <div class="heading">
        Welcome to the Hillman Library
    </div>
	<div class="headhillman">
        <br>
        The puzzle is to find a few hidden items in the pictures presented!
        <br>
        <h4>Puzzle 2: Entrance to Hillman</h4>
        <br>
	</div>

  <div class="map">
   <img src="../static/images/entrance.jpg" usemap="#image-map" class="hillman1">

    <map name="image-map">
        <area target="" alt="" title="" href="hillman3.html" coords="392,274,478,326" shape="rect">
    </map>
</div>
{% endblock %}
