{% extends '_base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="/static/js/panther-central.js"></script>
</head>
<div class="main">
    <div class="heading">
            <a>Welcome to the Hillman Library</a>
    </div>
	<div class="headhillman">
        <h2>I Spy...</h2>
        <h4>Entrance</h4>
        <br>
	</div>

  <div class="map">
   <img src="../static/images/entrance.jpg" usemap="#image-map" class="hillman1">

    <map name="image-map">
        <area target="" alt="" title="" href="hillman3.html" coords="392,274,478,326" shape="rect">
    </map>
</div>
{% endblock %}
