{% extends '_base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/style.css"> 
    <script type="text/javascript" src="/static/js/panther-central.js"></script>
</head>
<div class="main">
    <div class="heading">
            <a>Welcome to the Hillman Library</a>
    </div>
	<div class="headhillman">
        <h2>I Spy...</h2>
        <h4>Exit Sign</h4>
        <br>
	</div>
    <div class="map">
        <img src="../static/images/thirdfloor.jpg" usemap="#image-map" class="hillman1">
        <map name="image-map">
            <area target="" alt="" title="" href="../static/html/sennott-square.html" coords="128,30,97,9" shape="rect">
        </map>
    </div>
</div>
{% endblock %}