{% extends '_base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/style.css"> 
    <script type="text/javascript" src="/static/js/panther-central.js"></script>
</head>
<div class="main">
    <div class="heading">
        Welcome to Room of Doubt
    </div>
    <section id="game_title">
        <h1>Escape from Panther Central</h1>
        <h3>A CS1520 Escape Room Game</h3>
    </section>
</div>
<div>
    <section id="litchfield_towers">
        <img src="../static/images/litchfield-towers-entrance.jpg" alt="Litchfield Towers Entrance" width="400" height="300">
    </section>
    <section id="story">
        <p>
            Welcome to the University of Pittsburgh!  It's your first day of classes.<br>
            You need a Pitt ID to get into the campus buildings.<br>
            Let's go on an adventure!<br><br>
        </p><br>
        <button onclick="document.location='panther-central.html'">Get Started!</button>
    </section>
</div>
{% endblock %}