<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Leader Board for Room of Doubt</title>
	<link rel="stylesheet" href="static/leaderBoardStyle.css">
</head>
<body>
	<div class="wrapper">
		<div class="lboard_Section">
			<div class="lboard_tabs">
				<div class="tabs">
					<ul>
						<li data-li="today">Today</li>
						<li class="active" data-li="month">Month</li>
						<li data-li="year">Year</li>
					</ul>
				</div>
			</div>

			<div class="lboard_wrap">
				<div class="lboard_item today" style="display: none;">
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>1.</span> Name 1 </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 95%"></div>
							</div>
						</div>
						<div class="points">
							195 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>2.</span> Name 2 </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 80%"></div>
							</div>
						</div>
						<div class="points">
							180 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>3.</span> Name 3 </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 60%"></div>
							</div>
						</div>
						<div class="points">
							155 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>4.</span> Name 4 </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 30%"></div>
							</div>
						</div>
						<div class="points">
							130 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>5.</span> Name 5 </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 10%"></div>
							</div>
						</div>
						<div class="points">
							110 points
						</div>
					</div>
				</div>
				<div class="lboard_item month" style="display: block;">
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>1.</span> Eshwar's Girlfriend? </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 95%"></div>
							</div>
						</div>
						<div class="points">
							195 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>2.</span> Parth </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 80%"></div>
							</div>
						</div>
						<div class="points">
							180 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>3.</span> Sush </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 60%"></div>
							</div>
						</div>
						<div class="points">
							155 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>4.</span> Lexi </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 30%"></div>
							</div>
						</div>
						<div class="points">
							130 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>5.</span> Eshwar </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 10%"></div>
							</div>
						</div>
						<div class="points">
							110 points
						</div>
					</div>
				</div>
				<div class="lboard_item year" style="display: none;">
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>1.</span> Name 1 </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 95%"></div>
							</div>
						</div>
						<div class="points">
							195 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>2.</span> Name 2 </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 80%"></div>
							</div>
						</div>
						<div class="points">
							180 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>3.</span> Name 3 </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 60%"></div>
							</div>
						</div>
						<div class="points">
							155 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>4.</span> Name 4 </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 30%"></div>
							</div>
						</div>
						<div class="points">
							130 points
						</div>
					</div>
					<div class="lboard_mem">
						<div class="img">
							<img src="" alt="">
						</div>
						<div class="name_bar">
							<p><span>5.</span> Name 5 </p>
							<div class="bar_wrap">
								<div class="inner_bar" style="width: 10%"></div>
							</div>
						</div>
						<div class="points">
							110 points
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="static/javaScript/leaderBoardScript.js"></script>
</body>
</html>
