{% extends '_base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/style.css"> 
    <script type="text/javascript" src="/static/js/panther-central.js"></script>
</head>

<div class="main">
    <div class="heading">
        <a>Welcome to Panther Central</a>
    </div>
    <div class="audio">
        <audio src="../static/audio/PC.m4a" controls AutoPlay loop>
            <embed 
                src="./PC.m4a"
                width="300"
                height="90"
                loop="true"
                autostart="true">
            </audio>
    </div>
     <div class="timer">
        <p><span id="countdownminutes">0 </span> minutes and <span id="countdownseconds">1 </span> seconds have passed.</p>

        <script type="text/javascript">
            var timeleft = 1;
            var downloadTimer = setInterval(function(){
            timeleft++;
            document.getElementById("countdownminutes").textContent = parseInt(timeleft/60);
            document.getElementById("countdownseconds").textContent = timeleft % 60;
            if(timeleft > 120)
            {
                clearInterval(downloadTimer);
                alert("You have run out of time!");
                window.location = "./home.html"; 
            }
            },1000);
        </script>
    </div>
    <div class="game">
        <br><h2>I am the virtual assistant, in order to help you, please solve this anagram.</h2><br>
        <h4>Your word is...</h4>
        <h1 id="scrambledWord">{{ scrambled_word }}</h1> <!-- Words are scrambled and displayed here... -->
        <p id="unscrambledWord" hidden>{{ unscrambled_word }}</p>

        <form name="guessForm" id="guess_frm" action="hillman-library.html">
            <input type="text" name="guess" id="guess_input" /><br>
            <input type="submit" valid="Submit" onclick="validateForm(document.getElementById('unscrambledWord').textContent, document.getElementById('guess_input').value)" />
        </form>
    </div>
{% endblock %}
