<html>
    <head>
        <title>Room of Doubt</title>
        <link rel="icon" type="image/x-icon" href="static/icons/key-icon.ico">
        <link rel="stylesheet" href="static/css/title_style.css"> 
    </head>
    <body>
        <div class="container">
            <div class="inner" id="background">
                <img id="background_image" src="static/images/title_background.png" alt="Title Background">
            </div>
            <div class="inner" id="logo">
                <img id="logo_image" src="static/images/logo_glow.png" width="450" height="300">
            </div>
            <div class="inner" id="bats">
                <img id="bats" src="static/gifs/bats.gif">
            </div>
            <div class="inner" id="door">
                <img id="door_gif" src="static/gifs/door_animation.gif" height=125 href="/panther-central.html">
            </div>
            <div class="inner" id="cathedral">
                <img id="cathedral_image" src="static/images/cathedral.png" height="1000">
            </div>
            <div class="inner" id="door">
                <a href="introduction.html"><img id="door_gif_link" src="static/gifs/door_animation.gif" height=125 href="../templates/introduction.html"></a>
            </div>
            <div class="inner" id="sign">
                <img id="sign_image" src="static/images/sign.png">
            </div>
        </div>
    </body>
</html>